* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('design-an-attractive-background-for-your-website.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #a141ea13;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    max-width: 600px;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading {
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
}

.todo-app {
    background-color: #4b4b4f7d;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 80vh;
    padding: 20px;
    margin: 20px;
    overflow-y: auto; 
}

.title {
    color: #aeaeae;
    margin-bottom: 20px;
    text-align: center;
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

#input-task {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#add-task {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add-task:hover {
    background-color: #388e3c;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-list li {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.task-list li .task-text {
    flex: 1;
    margin-right: 10px;
}

.task-list li .task-actions {
    display: flex;
}

.task-list li .task-actions button {
    background-color: transparent;
    border: none;
    color: #888;
    cursor: pointer;
    margin-left: 10px;
    transition: color 0.3s ease;
}

.task-list li .task-actions button:hover {
    color: #333;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#clear-all {
    background-color: #3700ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#clear-all:hover {
    background-color: #c62828;
}

.task-count {
    color: #888;
    font-size: 14px;
}